@charset "UTF-8";

/*Todas as demas midias*/

/*typical device breakpoints
------------------------------
Pequenas telas: ate 600px
Celulares: de 600ps ate 768px
Tablets: de 768px ate 992px
Desktops: de 992px ate 1200px
Grandes telas : maior que 1200px*/

@media print {/*empressora*/
    
} 

@media screen and (min-width: 768px) and (max-width: 992px) 
{/*tablet*/
    #burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        align-items: center;
        justify-items: center;
        
    }

    main{
        width: 768px;
    }

    body{

    }
    
} 

@media screen and (min-width: 992px) and (max-width: 1200px) 
{/*desktop*/

   
}
@media screen and (min-width: 1200px) 
 {/*grandes telas*/
   
}